aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cryptography==3.4.7
discord.py==1.7.3
free-proxy==1.0.2
idna==3.2
lxml==4.6.3
multidict==5.1.0
pycparser==2.20
pyOpenSSL==20.0.1
python-dotenv==0.19.0
pytz==2021.1
random-user-agent==1.0.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.0
tzlocal==3.0
urllib3==1.26.6
websockets==9.1
yarl==1.6.3