appdirs==1.4.4
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
colorama==0.4.6
curl-cffi==0.13.0
free-proxy==1.1.0
idna==3.4
importlib-metadata==6.0.0
lxml==4.9.2
pyee==8.2.2
pyppeteer==1.0.2
pyppeteer-stealth==2.7.4
random-user-agent==1.0.1
requests==2.28.1
soupsieve==2.3.2.post1
tqdm==4.64.1
urllib3==1.26.13
websockets==10.4
zipp==3.11.0
